*{
    margin: 0;
}

header
{
    background-color: green;
    padding: 0.5rem;
}
#main_section
{
    display: flex;
    font-size: medium;

    background-color: rgb(40, 150, 40);

    height: auto;
}

#outer_main_div_l
{
    width: 600px;
    /* height: 200px; */

    background-color: aqua;
}
#outer_main_div_r
{
    width: 100vw;
    /* height: 200px; */
}
#inner_main_section_content
{
    margin-top: 20px;
    width: 50vw;
}

#website_demo_preview
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.demo_content
{
    width: 20rem;
    height: 5rem;

    background-color: yellow;
    border-radius: 0px 10px 10px 0px;
}