
:root
{
    --blue_o: #195dac;

    --red_o: #a71e1e;

    --green_o: #209c26;

    --black_o: #242424;

    --art_v1: #353535;
    --art_v2: #325c9c;
    --art_v3: #238023;
    --art_v4: rgb(196, 179, 80);
}

#skill-center-div
{
    background-color: #1f1f1f;

    display: flex;
    justify-content: space-evenly;
    width: 90%;
    
    border-radius: 10px;
    margin: 7em auto auto auto;
    padding: 5px;
}

#skill-description
{
    color: white;
    background-color: rgb(20, 20, 20);
    /* backdrop-filter: blur(10px); */

    border-radius: 10px;

    width: 45%;
    height: 300px;
    padding: 2%;

    text-align: center;
}

#skill-group-area
{
    width: 45%;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;

    /* position: relative;
    right: -150px; */
}

.skill-area
{
    flex-grow: 1;
    flex-basis: 120px;

    background-color: rebeccapurple;
    height: 7em;
    /* width: 8em; */
    border-radius: 10px;

    text-align: center;

    transition: 0.2s;
}

.skill-area:hover
{
    transform: scale(1.05);
}


